body
{
    font-family: 'Lato', sans-serif;

    background: #2C2F35;
}

.mt-0
{
    margin-top: 0;
}

.mt-5
{
    margin-top: 5px;
}

.mt-10
{
    margin-top: 10px;
}

.mt-20
{
    margin-top: 20px;
}

.mt-30
{
    margin-top: 30px;
}

.mt-40
{
    margin-top: 40px;
}

.mt-50
{
    margin-top: 50px;
}

.mb-0
{
    margin-bottom: 0;
}

.mb-5
{
    margin-bottom: 5px;
}

.mb-10
{
    margin-bottom: 10px;
}

.mb-20
{
    margin-bottom: 20px;
}

.mb-30
{
    margin-bottom: 30px;
}

.mb-40
{
    margin-bottom: 40px;
}

.mb-50
{
    margin-bottom: 50px;
}

.ml-10
{
    margin-left: 10px;
}

.ml-30
{
    margin-left: 30px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 21px;
}

.fs-22 {
	font-size: 22px;
}

.padding-reset,
.padding-right-reset
{
    padding-right: 0;
}

.padding-left-reset,
.padding-reset
{
    padding-left: 0;
}

.lato
{
    font-family: Lato, sans-serif;
}

.link-fix {
	color: #fff;
}


.link-fix:hover {
	color: #fff;
	text-decoration: none;
}

.intro-style {
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	width: 100%;    
	height: 480px;
}

.navbar-transparent {
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-size: 18px;
}

.pf_content-wrapper {
	color: #fff;
}

.demon-header {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 78px;
}

.pf_content-wrapper .p1 {
	font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 5px;
}

.pf_content-wrapper .p2 {
	font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.pf_img-prop {
	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
	padding: 5px;
	margin-top: 40px;
}

.pf_impose {
    display: inline;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.pf_impose:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 10px;
    width: 20px;
    bottom: -5px;
    background: #fff;
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.pf_impose:hover:after,
.pf_impose:focus:after,
.pf_impose:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.pf_skills {
	font-size: 20px;
	font-family: 'Roboto';
}

.pf_img-container img {
	margin-top: 10px;
	width: 80px;
	height: 80px;
	padding: 5px 10px;
}

.pf_heading {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    color: #fff;
}

.work-wrapper {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    padding: 5px;
    margin-top: 30px;
}

.work-heading {
    font-size: 22px;
    text-align: center;
    font-weight: 'Montserrat', sans-serif;
    margin: 10px 0px;
    color: #fff;
    /*text-transform: uppercase;*/
}

.footer-style {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 600%);
    width: 100%;    
    height: 480px;
}















/*@media only screen and (min-width : 320px) and (max-width : 480px) 
    
{
    
    


}

@media only screen and (min-width : 4810px) and (max-width : 767px) 
    
{
    
    


}

@media only screen and (min-width : 768px) and (max-width : 1024px) 

{




}
*/

